body {
    background-color: #000000;
    background-image: url(https://o.aolcdn.com/images/dims?quality=95&image_uri=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2F5n6DvT5dyP3WPixtRBhCVw--%7EB%2FaD03MDM7dz0xNDAwO2FwcGlkPXl0YWNoeW9u%2Fhttps%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F6a8a1ebcb1514d2f462430590dbe98d8%2F203601368%2Fwayne-residence-1400.jpg&client=amp-blogside-v2&signature=f12c2ce1557c77c14726f8bd45cb6a90e666d4d1);
    background-size: contain;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00E500;
    
}

header{
    padding: 5%;
}

main{
    width: 90%;
    margin-bottom: 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(monitor.png);
    background-size: 100% 100%;
    
}

#character-grid {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 3% 0;
    background-image: url("https://www.desktopbackground.org/p/2015/08/14/994883_full-fledged-customizable-fallout-terminal-rainmeter_1920x1080_h.jpg");
    background-size: 200%;
    background-position: center;
    border-radius: 5%;

}

.character-card{
    
    min-width: 10%;
    max-width:10%;
    /* min-height: 58%;
    max-height: 28%; */
    padding: 5% 2%;
    margin: 1%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'VT323', 'Courier New', Courier, monospace;
    color: #00E500;
    font-size: 28px;
    stroke: #ffffff;
    stroke-width: 2px;

    
}

h3{
    font-family: 'VT323', 'Courier New', Courier, monospace;
    color: #000000;
    background-color: #00E500;
    font-size: 28px;
    line-height: 24px;
    margin: none;
    stroke: #ffffff;
    stroke-width: 2px;

    overflow-wrap: break-word;
}

#modal {
    display: none;
    background-color: #000000;
    border: 5px solid #00E500;
    border-radius: 30px;
    width: 60%;
    max-height: 75vh;
    position: absolute;
    align-self: center;
    transform: translate3d(0, -3%, 0);
    /* transition-delay: 3s; */
}

#close-button {
    position: fixed;

    margin: 1% 0 0 96%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

#modal-content{
    

    display: grid;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-columns: 2fr 3fr 2fr;

}


.modal-img{
    grid-row: 1 / span 2;
    grid-column: 1;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
}

.modal-header{
    grid-row: 1;
    grid-column: 2 / span 2;
    padding: 0 3%;
}

.modal-lists {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 2%;
}

.modal-footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    margin: 0 5%;
    
}
