body {
    font-family: 'VT323', 'Courier New', Courier, monospace;
    background-color: #000000;
    background-image: url(https://vignette.wikia.nocookie.net/telltalebatman/images/0/02/The_Batcave_%28Telltale_Version%29.jpg/revision/latest?cb=20191125054200);
    background-size: contain;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00E500;
    
}

header{
    padding: 1%;
    background-image: url(logo.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 36px;;
}

main{
    width: 80%;
    margin-bottom: 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(monitor.png);
    background-size: 100% 100%;
    
}

#character-grid {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 3% 0;
    background-image: url("https://www.desktopbackground.org/p/2015/08/14/994883_full-fledged-customizable-fallout-terminal-rainmeter_1920x1080_h.jpg");
    background-size: 200%;
    background-position: center;
    border-radius: 5%;

}


.character-card{
    
    min-width: 10%;
    max-width:10%;
    padding: 4% 2%;
    margin: 1%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #00E500;
    border-radius: 5px;
    cursor: pointer;
    

    font-family: 'VT323', 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 28px;
    stroke-width: 2px;

}

h3{
    
    color: #000000;
    background-color: #00E500;
    font-size: 95%;
    line-height: 90%;
    margin: none;
    cursor: pointer;

    overflow-wrap: break-word;
}

#modal {
    display: none;
    background-image: url("https://www.desktopbackground.org/p/2015/08/14/994883_full-fledged-customizable-fallout-terminal-rainmeter_1920x1080_h.jpg");
    background-size: 200%;
    background-position: center;
    border: 5px solid #00E500;
    border-radius: 30px;
    width: 60%;
    max-height: 75vh;
    position: absolute;
    align-self: center;
    transform: translate3d(0, -3%, 0);
    opacity: 0;
    transition: opacity .5s;
    overflow: auto;
    
}


#close-button {
    position: fixed;

    margin: 1% 0 0 96%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

#modal-content{
    

    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-columns: 2fr 3fr 2fr;

}


.modal-img{
    grid-row: 1 / span 2;
    grid-column: 1;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
}

.modal-header{
    grid-row: 1;
    grid-column: 2 / span 2;
    padding: 0 3%;
}

.modal-lists {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 2%;
}

.list ul {
    margin: 1%
}

.list h4 {
    margin-bottom: 10%;
}

.modal-footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    margin: 0 5%;
    
}
