body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    padding: 5%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#character-grid {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* row-gap: 2%;
    column-gap: 2%; */
    width: 70%;

}

.character-card{
    
    padding: 10% 6%;
    margin: 1%;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}


#modal{
    background-color: black;
    width: 60%;
    height: 50vh;
    position: fixed;
    align-self: center;
    transform: translate3d(0, 10%, 0);
    /* transition-delay: 3s; */
    display: none;
}